In [1]:
#!pip install ipython-sql

In [2]:
#!pip install PyMySQL

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
%load_ext sql

In [5]:
%sql mysql+pymysql://root:admin1234@localhost/tableau_work

In [6]:
df = pd.read_csv('/Users/alfiyaansari/Desktop/bayut_selling_properties.csv')

In [7]:
df.shape

(41381, 22)

In [8]:
df.isnull().sum()

price                        0
price_category               0
type                         0
beds                         0
baths                        0
address                      0
furnishing                   0
completion_status            0
post_date                    0
average_rent                 0
building_name                0
year_of_completion           0
total_parking_spaces         0
total_floors                 0
total_building_area_sqft     0
elevators                    0
area_name                    0
city                         0
country                      0
Latitude                    18
Longitude                   18
purpose                      0
dtype: int64

In [9]:
df.dropna(axis=0, inplace=True)

In [10]:
df.shape

(41363, 22)

In [11]:
df['price'] = df['price'].apply(lambda x : f"{x:,.0f}")

In [12]:
pd.set_option('display.max_columns', 50)
df.head(3)

,price,price_category,type,beds,baths,address,furnishing,completion_status,post_date,average_rent,building_name,year_of_completion,total_parking_spaces,total_floors,total_building_area_sqft,elevators,area_name,city,country,Latitude,Longitude,purpose
0,"1,450,000",Medium,Apartment,1,2,"The Bay, Business Bay, Dubai",Furnished,Ready,2024-04-15,0,Unknown,0,0,0,0,0,Business Bay,Dubai,UAE,25.189427,55.264819,For Sale
1,"6,600,000",High,Townhouse,5,5,"Brookfield, DAMAC Hills, Dubai",Unfurnished,Ready,2024-04-15,0,Unknown,0,0,0,0,0,DAMAC Hills,Dubai,UAE,25.028148,55.264246,For Sale
2,"4,825,000",High,Apartment,2,3,"Vida Residence Downtown, Downtown Dubai, Dubai",Unfurnished,Ready,2024-04-18,288929,VIDA RESIDENCE DOWNTOWN,2018,510,56,1,11,Downtown Dubai,Dubai,UAE,25.186684,55.274705,For Sale

In [13]:
df['purpose'].value_counts()

purpose
For Sale    41363
Name: count, dtype: int64

In [14]:
df['country'].value_counts()

country
UAE    41363
Name: count, dtype: int64

In [15]:
len(df['area_name'].value_counts())

260

In [16]:
df.head()

,price,price_category,type,beds,baths,address,furnishing,completion_status,post_date,average_rent,building_name,year_of_completion,total_parking_spaces,total_floors,total_building_area_sqft,elevators,area_name,city,country,Latitude,Longitude,purpose
0,"1,450,000",Medium,Apartment,1,2,"The Bay, Business Bay, Dubai",Furnished,Ready,2024-04-15,0,Unknown,0,0,0,0,0,Business Bay,Dubai,UAE,25.189427,55.264819,For Sale
1,"6,600,000",High,Townhouse,5,5,"Brookfield, DAMAC Hills, Dubai",Unfurnished,Ready,2024-04-15,0,Unknown,0,0,0,0,0,DAMAC Hills,Dubai,UAE,25.028148,55.264246,For Sale
2,"4,825,000",High,Apartment,2,3,"Vida Residence Downtown, Downtown Dubai, Dubai",Unfurnished,Ready,2024-04-18,288929,VIDA RESIDENCE DOWNTOWN,2018,510,56,1,11,Downtown Dubai,Dubai,UAE,25.186684,55.274705,For Sale
3,"980,000",Average,Apartment,3,3,"Building 39, Al Reef Downtown, Al Reef, Abu Dhabi",Unfurnished,Ready,2024-01-03,73384,Unknown,0,0,0,0,0,Al Reef,Abu Dhabi,UAE,24.466437,54.656891,For Sale
4,"2,499,999",Medium,Townhouse,3,4,"Nima, The Valley, Dubai",Furnished,Off-Plan,2024-02-28,0,Unknown,0,0,0,0,0,The Valley,Dubai,UAE,25.019221,55.447201,For Sale

In [17]:
len(df['address'].value_counts())

3883

In [18]:
df['address'].nunique()

3883

In [19]:
df['furnishing'].value_counts()

furnishing
Unfurnished    31950
Furnished       9413
Name: count, dtype: int64

In [20]:
df['completion_status'].value_counts()

completion_status
Ready       24887
Off-Plan    16476
Name: count, dtype: int64

In [21]:
df['post_date'].value_counts()

post_date
2024-04-17    1484
2024-04-22    1436
2024-04-15    1392
2024-04-18    1308
2024-04-19    1262
              ...
2022-11-12       1
2023-06-27       1
2023-06-24       1
2022-05-06       1
2022-02-25       1
Name: count, Length: 457, dtype: int64

In [22]:
df['address'].value_counts()

address
Al Yasmeen, Ajman                                                                       361
Al Zahya, Ajman                                                                         299
Hayyan, Barashi, Sharjah                                                                256
Al Mamsha, Muwaileh, Sharjah                                                            248
Faradis Tower, Al Mamzar, Sharjah                                                       231
                                                                                       ...
Tower B2, Vida Hotel, The Hills, Dubai                                                    1
Al Ghozlan 1, Al Ghozlan, The Greens, Dubai                                               1
EMR-23, Emirates Cluster, International City, Dubai                                       1
B2, The Hills B, The Hills, Dubai                                                         1
The Residence by Prestige One, JVC District 12, Jumeirah Village Circle (JVC), Dubai      1
Name: count, Length: 3883, dtype: int64

In [23]:
df['city'].value_counts()

city
Dubai             28809
Abu Dhabi          6086
Sharjah            4103
Ajman              1923
Ras Al Khaimah      419
Umm Al Quwain        16
Al Ain                6
Fujairah              1
Name: count, dtype: int64

In [24]:
df['furnishing'].value_counts()

furnishing
Unfurnished    31950
Furnished       9413
Name: count, dtype: int64

In [25]:
df['completion_status'].value_counts()

completion_status
Ready       24887
Off-Plan    16476
Name: count, dtype: int64

In [26]:
df['building_name'].value_counts()

building_name
Unknown                                  23473
AYKON CITY-TOWER B                         155
AYKON CITY (2) -TOWER C                    105
Forte T1                                    97
SEVEN HOTEL & APARTMENTS THE PALM - B       80
                                         ...
LINKS CANAL                                  1
PLAZA BOUTIQUE - 15                          1
Kappa Acca 4                                 1
MODELUX TOWER 1                              1
Serenia Living - Tower 2                     1
Name: count, Length: 1700, dtype: int64

In [27]:
df['area_name'].value_counts()

area_name
Jumeirah Village Circle (JVC)    2477
Business Bay                     2423
Dubai Marina                     2112
Downtown Dubai                   2064
Al Reem Island                   1658
                                 ...
Umm Al Quwain Marina                1
Al Darari                           1
Al Manara                           1
Al Yahar                            1
Asharij                             1
Name: count, Length: 260, dtype: int64

In [28]:
df['building_name'].value_counts()

building_name
Unknown                                  23473
AYKON CITY-TOWER B                         155
AYKON CITY (2) -TOWER C                    105
Forte T1                                    97
SEVEN HOTEL & APARTMENTS THE PALM - B       80
                                         ...
LINKS CANAL                                  1
PLAZA BOUTIQUE - 15                          1
Kappa Acca 4                                 1
MODELUX TOWER 1                              1
Serenia Living - Tower 2                     1
Name: count, Length: 1700, dtype: int64

In [29]:
df['beds'].value_counts()

beds
1     11358
2     10415
3      6963
0      4626
4      4236
5      2770
6       649
7       200
11       63
8        48
10       24
9        11
Name: count, dtype: int64

In [30]:
df['furnishing'].value_counts()

furnishing
Unfurnished    31950
Furnished       9413
Name: count, dtype: int64

In [31]:
df.head()

,price,price_category,type,beds,baths,address,furnishing,completion_status,post_date,average_rent,building_name,year_of_completion,total_parking_spaces,total_floors,total_building_area_sqft,elevators,area_name,city,country,Latitude,Longitude,purpose
0,"1,450,000",Medium,Apartment,1,2,"The Bay, Business Bay, Dubai",Furnished,Ready,2024-04-15,0,Unknown,0,0,0,0,0,Business Bay,Dubai,UAE,25.189427,55.264819,For Sale
1,"6,600,000",High,Townhouse,5,5,"Brookfield, DAMAC Hills, Dubai",Unfurnished,Ready,2024-04-15,0,Unknown,0,0,0,0,0,DAMAC Hills,Dubai,UAE,25.028148,55.264246,For Sale
2,"4,825,000",High,Apartment,2,3,"Vida Residence Downtown, Downtown Dubai, Dubai",Unfurnished,Ready,2024-04-18,288929,VIDA RESIDENCE DOWNTOWN,2018,510,56,1,11,Downtown Dubai,Dubai,UAE,25.186684,55.274705,For Sale
3,"980,000",Average,Apartment,3,3,"Building 39, Al Reef Downtown, Al Reef, Abu Dhabi",Unfurnished,Ready,2024-01-03,73384,Unknown,0,0,0,0,0,Al Reef,Abu Dhabi,UAE,24.466437,54.656891,For Sale
4,"2,499,999",Medium,Townhouse,3,4,"Nima, The Valley, Dubai",Furnished,Off-Plan,2024-02-28,0,Unknown,0,0,0,0,0,The Valley,Dubai,UAE,25.019221,55.447201,For Sale

In [32]:
df.drop(['purpose','country','address','year_of_completion','total_parking_spaces','total_floors',
        'total_floors','total_building_area_sqft','elevators','average_rent','building_name'],axis=1,inplace=True)

In [33]:
df.head()

,price,price_category,type,beds,baths,furnishing,completion_status,post_date,area_name,city,Latitude,Longitude
0,"1,450,000",Medium,Apartment,1,2,Furnished,Ready,2024-04-15,Business Bay,Dubai,25.189427,55.264819
1,"6,600,000",High,Townhouse,5,5,Unfurnished,Ready,2024-04-15,DAMAC Hills,Dubai,25.028148,55.264246
2,"4,825,000",High,Apartment,2,3,Unfurnished,Ready,2024-04-18,Downtown Dubai,Dubai,25.186684,55.274705
3,"980,000",Average,Apartment,3,3,Unfurnished,Ready,2024-01-03,Al Reef,Abu Dhabi,24.466437,54.656891
4,"2,499,999",Medium,Townhouse,3,4,Furnished,Off-Plan,2024-02-28,The Valley,Dubai,25.019221,55.447201

In [34]:
df.shape

(41363, 12)

In [35]:
df.head()

,price,price_category,type,beds,baths,furnishing,completion_status,post_date,area_name,city,Latitude,Longitude
0,"1,450,000",Medium,Apartment,1,2,Furnished,Ready,2024-04-15,Business Bay,Dubai,25.189427,55.264819
1,"6,600,000",High,Townhouse,5,5,Unfurnished,Ready,2024-04-15,DAMAC Hills,Dubai,25.028148,55.264246
2,"4,825,000",High,Apartment,2,3,Unfurnished,Ready,2024-04-18,Downtown Dubai,Dubai,25.186684,55.274705
3,"980,000",Average,Apartment,3,3,Unfurnished,Ready,2024-01-03,Al Reef,Abu Dhabi,24.466437,54.656891
4,"2,499,999",Medium,Townhouse,3,4,Furnished,Off-Plan,2024-02-28,The Valley,Dubai,25.019221,55.447201

In [36]:
df = df[['type','beds','baths','furnishing','price_category','post_date','city','area_name','Latitude','Longitude',
        'completion_status','price']]

In [37]:
df.head()

,type,beds,baths,furnishing,price_category,post_date,city,area_name,Latitude,Longitude,completion_status,price
0,Apartment,1,2,Furnished,Medium,2024-04-15,Dubai,Business Bay,25.189427,55.264819,Ready,"1,450,000"
1,Townhouse,5,5,Unfurnished,High,2024-04-15,Dubai,DAMAC Hills,25.028148,55.264246,Ready,"6,600,000"
2,Apartment,2,3,Unfurnished,High,2024-04-18,Dubai,Downtown Dubai,25.186684,55.274705,Ready,"4,825,000"
3,Apartment,3,3,Unfurnished,Average,2024-01-03,Abu Dhabi,Al Reef,24.466437,54.656891,Ready,"980,000"
4,Townhouse,3,4,Furnished,Medium,2024-02-28,Dubai,The Valley,25.019221,55.447201,Off-Plan,"2,499,999"

In [38]:
engine = create_engine("mysql+pymysql://root:admin1234@localhost/tableau_work")
df.to_sql("real_estate", engine,if_exists="replace",index=False)

41363

In [39]:
%%sql
SELECT * FROM real_estate LIMIT 5;

 * mysql+pymysql://root:***@localhost/tableau_work
5 rows affected.

[('Apartment', 1, 2, 'Furnished', 'Medium', '2024-04-15', 'Dubai', 'Business Bay', 25.18942655, 55.26481901527489, 'Ready', '1,450,000'),
 ('Townhouse', 5, 5, 'Unfurnished', 'High', '2024-04-15', 'Dubai', 'DAMAC Hills', 25.0281481, 55.264246, 'Ready', '6,600,000'),
 ('Apartment', 2, 3, 'Unfurnished', 'High', '2024-04-18', 'Dubai', 'Downtown Dubai', 25.18668425, 55.27470526460112, 'Ready', '4,825,000'),
 ('Apartment', 3, 3, 'Unfurnished', 'Average', '2024-01-03', 'Abu Dhabi', 'Al Reef', 24.4664366, 54.65689142777212, 'Ready', '980,000'),
 ('Townhouse', 3, 4, 'Furnished', 'Medium', '2024-02-28', 'Dubai', 'The Valley', 25.019221, 55.447201, 'Off-Plan', '2,499,999')]

In [42]:
df.to_csv('final_dataset.csv')